/* this is a css document */

body{ /*0001*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;

    header,footer{ /*0001*/
        background-color: crimson;
    }
    .site-title{ /*0010*/
        color: cyan;
    }
    #my-image{ /*0100*/
       box-shadow: 0px 0px 2px 1px black;
    }
    main ul { /*0001*/
        list-style-type: square;
    }

}